@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #fbfbfd;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0;
    }

    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

    html {
        -webkit-tap-highlight-color: transparent;
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #60A5FA #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #C1CACC;
}

*::-webkit-scrollbar-track:active {
    background-color: #C1CACC;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #445069;
}

*::-webkit-scrollbar-thumb:is(:hover, :active) {
    background-color: #252B48;
}

/* ----------------------------- */