@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #fbfbfd;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0;
    }

    html {
        -webkit-tap-highlight-color: transparent;
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #60a5fa #dfe9eb;
    }

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #dfe9eb;
    }

    *::-webkit-scrollbar-track:hover {
        background-color: #c1cacc;
    }

    *::-webkit-scrollbar-track:active {
        background-color: #c1cacc;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #445069;
    }

    *::-webkit-scrollbar-thumb:is(:hover, :active) {
        background-color: #252b48;
    }
}

@layer utilities {
    .bg-white-gradient {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
    }

    .responsive-grid {
        display: grid;
        width: 100%;
        place-items: center;
        grid-gap: 1rem;
    }

    /* Smaller screen (mobile) */
    @media only screen and (max-width: 768px) {
        .responsive-grid {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
    }

    /* Larger screen (desktop/tablet) */
    @media only screen and (min-width: 768px) {
        .responsive-grid {
            grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        }
    }
}
